{
    "extensions": [
        ".ts"
    ],
    "include": [
        "src/**"
    ],
    "exclude": [
        "**/node_modules/**"
    ],
    "reporter": [
        "text",
        "text-summary",
        "html"
    ],
    "require": [
        "ts-node/register",
        "source-map-support/register"
    ]
}
